* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

body, html {
	width: 100%;
	height: 100%;
	box-sizing: content-box;
}

.index-wrapper
{
	background-image: url("../images/back.png");
	border-radius: 5px;
}
#wrapper {
	width: 96%;
	padding: 1%;
	margin: 1%;
	min-height: 100%;
	position: relative;
}

#wrapper #header {
	padding-bottom: 3%;
	
}

#wrapper #content {
	padding-bottom: 15%;
}

#wrapper #footer {
	position: absolute;
	width: 96%;
	bottom: 0%;
	height: 15%;
}

#header .logo {
	float: left;
	width: 40%;
}

#header .logo h1
{
	color: white;
}

#header .navigation {
	float: right;
	width: 58%;
	
}

#header .navigation .menu
{
	float:right;
}

#header .navigation .menu li {
	display: inline-block;
	padding: 8px;
	margin: 8px;
	float: left;
	width: 18%;
}

#header .navigation .menu li a
{
	color:white;
	font-size:larger;
	font-weight: 700;
}


.submenu li a
{
	color:blue;
}

#header:after {
	content: "";
	clear: both;
	display: block;
}